@charset "utf-8";
@font-face {
    font-family: 'iconfonts';
    src: url('../fonts/iconfont.eot?1462242749');
    src: url('../fonts/iconfont.eot?&1462242749#iefix') format("embedded-opentype"),url('../fonts/iconfont.woff?1462242749') format("woff"),url('../fonts/iconfont.ttf?1462242749') format("truetype"),url('../fonts/iconfont.svg?1462242749#iconfont') format("svg");
}
.iconfonts {
    font-family: "iconfonts" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.currExp {
	width: 420px;
	height: 280px;
	position: absolute;
	background-color: rgba(0,67,135,0.8);
	top: 110px;
	right: 5%;
	z-index: 1;
	color: #fff;
	padding: 20px;
}
.currExp > h2 {
	color: #fff;
	padding-left: 20px;
	line-height: 50px;
	font-size: 25px;
	padding-bottom: 10px;
}
.currExp > h3 {
	color: #fff;
	padding-left: 20px;
	font-size: 24px;
	line-height: 38px;
}
.currExp > h4 {
	color: #fff;
	font-size: 24px;
	padding-left: 20px;
	line-height: 50px;
	font-weight: normal;
}
.currExp li {
	float: left;
	text-align: center;
	width: 50%;
	margin-bottom: 20px;
	margin-top: 20px;
}
.currExp li > a {
	width: 120px;
	height: 40px;
	color: #0079b4;
	border: 0px;
	border-radius: 5px;
	background-color: #fdfdfd;
	display:inline-block;
	line-height:40px;
}
.banner-swiper {
	position:relative;
	width:100%;
	height:560px;
	overflow:hidden
}
.banner-swiper .swiper-wrapper li {
	float:left;
	width:100%
}
.banner-swiper .swiper-wrapper li a {
	position:relative;
	display:block;
	width:100%;
	height:100%;
	background:#c7c7c7;
	background:#008eb7 url(../../../images/frontend/banner1.png) center center no-repeat
}
.banner-swiper .swiper-wrapper li a .release {
	position:absolute;
	width:670px;
	height:50px;
	line-height:50px;
	top:50%;
	left:50%;
	margin-left:-612px;
	margin-top:-50px;
	color:#fff;
	font-size:48px
}
.banner-swiper .swiper-wrapper li a .note {
	position:absolute;
	width:670px;
	height:50px;
	line-height:50px;
	top:50%;
	left:50%;
	margin-left:-612px;
	margin-top:0px;
	color:#fff;
	font-size:20px
}
.banner-swiper img {
	display:block;
	width:100%;
	height:100%
}
.banner-swiper .swiper-pagination {
	position:absolute;
	left:0;
	right:0;
	text-align:center;
	bottom:15px
}
.banner-swiper .swiper-pagination .pagination-inner {
	display:inline-block;
	*zoom:1
}
.banner-swiper .swiper-pagination .pagination-inner .swiper-pagination-switch {
	float:left;
	width:28px;
	height:7px;
	margin:0 8px;
	background:#81c7db;
	cursor:pointer
}
.banner-swiper .swiper-pagination .pagination-inner .swiper-active-switch {
	background:#fff
}

.content_title,.content_title a {
	line-height: 50px;
	font-weight: bold;
	color: #004387;
	font-size: 24px;
}
.content_titles {
	padding-left:24px;
}
.in_sail {
	width:698px;
	float:left;
	padding-top:30px;
}
.in_sail img {
	width:100%;
	display:block;
}
.brightPoint_box {
	width:480px;
	float:right;
	padding-top:30px;
}
.brightPoint {
	border: 1px solid #e5e5e5;
	background-color: #fff;
	height: 280px;
	padding: 20px 30px 30px 30px;
}
.brightPoint ul {
	margin-bottom:10px;
}
.brightPoint li {
	float: left;
	background: url(../img/index/point.png) no-repeat 0 50%;
	width: 45%;
	padding-left: 5%;
	line-height: 30px;
}
.brightPoint p {
	line-height: 30px;
	text-indent: 2em;
}
.exScope {
	padding-top: 35px;
	margin-bottom: 48px;
}
.exScope li {
	width: 240px;
	height: 240px;
	float: left;
	position: relative;
	border: 1px solid #efefef;
	background-size: 100% 100%;
}
.exScope li:hover > .picMask {
	display: block;
}
.exScope li:hover > p {
	display: block;
}
.exScope .picMask {
	width: 100%;
	height: 100%;
	top: 0;
	z-index: 1;
	background-color: rgba(2,42,55,0.5);
	display: none;
}
.exScope p {
	width: 240px;
	margin-top: -160px;
	color: #fff;
	z-index: 2;
	text-align: center;
	display: none;
}
.exScope li > h4 {
	position: absolute;
	top: 240px;
	background-color: #fff;
	font-size: 18px;
	width: 101%;
	text-align: center;
	height: 30px;
	line-height: 30px;
	padding-left: 0px;
	font-family: YouYuan;
	color:#004387;
	font-weight: bold;
}
.exScope span {
	font-size: 14px;
	color: #fff;
	display: inline-block;
	line-height: 30px;
	width: 180px;
	text-align: left;
}
.activeNews{
    padding-top: 20px;
    margin-bottom: 40px;
}
.activeNews dl{}
.activeNews dl dt{
	padding-top: 50px;
	width: 496px;
    float: left;
}
.activeNews dl dt img{
	width:100%;
}
.activeNews dl dd{
	width: 55%;
    float: right;
}
.news {
	border: 1px solid #e5e5e5;
	background-color: #fff;
	height: 240px;
	padding: 30px;
}
.news ul {
	width: 90%;
	height: 150px;
	padding-left: 60px;
}
.news ul li {
	line-height: 30px;
	list-style-image: url(../img/index/point.png);
}
.exPhoto ul {
	width:1218px;
	zoom:1;
}
.exPhoto li {
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	width: 386px;
}
.exPhoto li img {
	width: 100%;
}
.foreignexCoop {
	padding-top: 10px;
}
.foreignexCoop li {
	width: 220px;
	height: 120px;
	float: left;
	position: relative;
	background-size: 50% 50%;
	background-repeat: no-repeat;
	margin-right: 20px;
}
.foreignexCoop li:hover > .picMask2 {
	display: block;
}
.foreignexCoop li:hover {
	cursor: pointer;
}
.foreignexCoop li:hover > p {
	display: block;
}
.foreignexCoop .picMask2 {
	width: 220px;
	height: 120px;
	top: 0;
	z-index: 1;
	background-color: rgba(2,42,55,0.5);
	display: none;
}
.foreignexCoop p {
	width: 200px;
	margin-top: -100px;
	color: #fff;
	z-index: 2;
	text-align: center;
	font-size: 12px;
	display: none;
	line-height: 20px;
	padding: 0px;
}
.exCoop {
	padding-top: 30px;
	padding-bottom:50px;
}
.exCoop li {
	width: 100px;
	height: 100px;
	float: left;
	position: relative;
	background-size: 50% 50%;
	background-repeat: no-repeat;
	margin-right: 20px;
}
.exCoop li:hover > .picMask {
	display: block;
}
.exCoop li:hover {
	cursor: pointer;
}
.exCoop li:hover > p {
	display: block;
}
.exCoop .picMask {
	width: 100%;
	height: 100%;
	top: 0;
	z-index: 1;
	background-color: rgba(2,42,55,0.5);
	display: none;
}
.exCoop p {
	width: 100px;
	margin-top: -100px;
	color: #fff;
	z-index: 2;
	text-align: center;
	font-size: 12px;
	display: none;
	line-height: 20px;
	padding: 0px;
}
.exCoop_more {
	text-align:right;
	padding-right:30px;
}
.exCoop_more a {
	font-size:16px;
}

.KV{
	background-image: url(../img/topbg.png);
    background-size: 100% 100%;
    height: 200px;
    width: 100%;
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding-top: 90px;
}
.pagecontent {
    width: 100%;
    padding: 10px 20px 20px;
    font-family: Arial;
    font-size: 16px;
    line-height: 30px;
}
.layui-form-item h2{
	border-bottom: 3px solid #0072bc;
	text-align:left;
	font-size:18px;
}
.contact_page{
	padding: 20px 20px 400px;
}
.h4{
	color: #004387;
    text-align: center;
    font-size: 24px;
    line-height: 50px;
    height: 50px;
    font-weight: bold;
}
.contact_content {
	margin-top:20px;
	width:90%;
	vertical-align:middle;
}
.content_left {
    float: left;
    width: 70%;
    vertical-align: middle;
    line-height: 30px;
    font-size: 18px;
    margin-top: 20px;
}
.content_left div {
    width: 55%;
    margin: 0 auto;
    padding: 0;
}
.content_right {
    vertical-align: middle;
    line-height: 30px;
    float: left;
    width: 30%;
    text-align: center;
}
.content_right p {
    margin-left: 30%;
    text-align: left;
}
.tradePost_page{
	padding: 20px 0px 420px 0px;
    line-height: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
}
.tradePost_page .h4{
	border-bottom: 3px solid #0072bc;
}
.tradePostInfo {
    width: 80%;
    float: left;
}
.buss_content ul {
    padding: 30px 50px 0px 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}
.buss_content ul li {
    margin-bottom: 30px;
    border-bottom: 2px dashed;
}
.login_userInfo {
    width: 20%;
    float: left;
    margin-top: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
}
.media_page{
	padding-top:20px;
}
.media_main{
	padding: 20px 50px;
    line-height: 30px;
    font-size: 16px;
}
.mediaVideo{
	display:inline-block;
	margin-bottom: 50px;
    margin-top: 20px;
	width:900px;
	height:530px;
}
.activety{
	padding: 10px 50px 20px;
    line-height: 30px;
    font-size: 18px;
}
.expo_bord {
    border: 1px solid #D3D3D3;
	padding:0 30px;
}
.expo_bord .h4{
	text-align:left;
	font-size: 18px;
}
.activety_act {
    border: 1px solid #D3D3D3;
    margin-bottom: 80px;
	padding:0 15px 50px;
}
.act_content dt{
	float:left;
	width:280px;
}
.act_content dt img{
	height:200px;
	width:280px;
	object-fit: cover;
	margin:0 auto;
} 
.act_content dd{
	float:right;
	width:710px;
	font-size:20px;
	line-height: 50px;
} 
.act_content dd h3 .title_h3{
	float:right;
}
.act_content dd h3 .title_h3 em{
	margin-right:30px;
}
.activety_de{
	margin-right:30px;
	color: #004387;
}
.activety_de:hover{color:#777}
.expoTraffic_page{
	padding: 30px 20px 50px;
}
.expoTraffic_page .h4{
	border-bottom: 3px solid #0072bc;
}
.expoTraffic_item{
	padding:40px 0 15px;
}
.expoTraffic_item dt{
	width:50%;
	box-sizing:border-box;
	padding-left:116px;
	font-size:16px;
	line-height:30px;
	float:left;
}
.expoTraffic_item dd{
	width:50%;
	box-sizing:border-box;
	float:right;
}
.expoTraffic_item dd img{
	width:300px;
	height:200px;
	object-fit: cover;
	margin:0 auto;
	display:block;
	-webkit-transition: all 0.8s; /*时长为2s的宽度变化效果*/
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	transition: all 0.8s;
}
.expoTraffic_item dd img:hover{
	-webkit-transform: scale(2, 2);
	-moz-transform: scale(2, 2);
	-ms-transform: scale(2, 2);
	-o-transform: scale(2, 2);
	transform: scale(2, 2);
	-webkit-transition: all 1s; /*时长为2s的宽度变化效果*/
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
	transition-property: all;
	transition-duration: 1s;
	transition-timing-function: initial;
	transition-delay: initial;
}
.exhibitioner_page{
	padding: 30px 20px 50px;
}
.exhibitioner_from{
	margin-bottom:15px;
}
.exhibitioner_from .layui-input-inline {
    float: left;
    width: 150px;
    margin-right: 10px;
}
.exhibitioner_key{
	margin-right:10px;
}
.exhibitioner_key .layui-input-inline{
	width:190px;
}
.exhibitioner_from  .layui-form-label{
	width:130px;
}
.exhibitioner_table{
	width: 100%;
    overflow-x: auto;
}
.expoSchedule_page{
	padding:20px;
}
.expoSchedule_page h5{
	text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 16px;
	line-height:26px;
}
.show_time{
	padding-left: 300px;
    padding-top: 30px;
}
.show_time li{
	position:relative;
	padding-bottom: 20px;
}
.show_time li:before{
	content: '';
    position: absolute;
    left: 5px;
    top: 0;
    z-index: 0;
    width: 1px;
    height: 100%;
	display:block;
	background-color: #e6e6e6;
}
.show_time li:last-child:before{
	display:none;
}
.timeline-content{
	padding-left: 25px;
	font-size: 14px;
    color: #666;
}
.timeline-content h3{
	font-weight:bold;
	cursor: pointer;
	font-size: 18px;
	margin-bottom: 10px;
}
.timeline-content p{
	line-height:60px;
	font-size: 16px;
}
.adver_page{
	padding:20px;
}
.adver_page img{
	width:100%;
}
.overview_page{
	padding: 20px 20px 30px;
}
.overview_img{
	margin-top:20px;
}
.overview_img img{
	width:100%;
	height:350px;
	object-fit: cover;
}
.overview_access .h4{
	font-size:18px;
	text-align:left;
	padding-left: 20px;
	margin-bottom:20px;
}
.overview_access_nav{
	background-color: #004387;
    background-size: 100%;
    background-image: url(../img/topbg1.png);
    background-repeat: no-repeat;
	background-size:cover;
	height: 100px;
	padding-left:200px;
	padding-top:32px;
}
.overview_access_nav a{
	background-color: #e7e7e7;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
	margin-right:70px;
	border: 2px solid #008CBA;
}
.overview_access_nav a:hover{
	background-color: #008CBA;
	color: white;
}
.overview_info{
	background-color: #F7EED6;
	margin: 20px 0;
	border:4px dashed #000;
}
.overview_info_item{
	width:50%;
	box-sizing:border-box;
	line-height: 30px;
	padding: 20px 0 20px 80px;
    font-size: 18px;
	float:left;
}
.overview_more{
	text-align:right;
	margin-right:40px;
}
.overview_more a{
	color: #004387;
}
.expoPreView{
	padding:20px;
}
.expoPreView img{
	width:100%;
}
.review_page{
	padding:20px;
}
.review_content{
	border: 1px solid #d3d3d3;
	padding:10px 10px 20px;
	line-height: 30px;
    font-size: 18px;
}
.review_content .h4{
	margin-bottom:20px;
}
.review_content a{
	display: inline-block;
	margin-top: 30px;
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
	    padding: 5px 10px;
    text-align: center;
	    font-size: 18px;
		margin-bottom: 10px;
}
.shufty_page{
	padding:20px;
}
.shufty_page h4{
	padding-left:20px;
	text-align:left;
	font-size:18px;
}
.shufty_open dt{
	float:left;
}
.shufty_open dt{
	width: 746px;
}
.shufty_open_big{
	margin-bottom:20px;
}
.shufty_open_big img{
	object-fit: cover;
    width: 100%;
    height: 380px;
}
.shufty_open dd{
	float:right;
	width:348px;
}
.shufty_open dd img{
	object-fit: cover;
    width: 100%;
    height: 180px;
	margin-bottom:20px;
}
.shufty_list ul{
	width:796px;
}
.shufty_list li{
	margin-right:50px;
	float:left;
	width:348px;
	margin-bottom:20px;
}
.shufty_list li img{
	object-fit: cover;
    width: 100%;
    height: 180px;
}
.shufty_open img{
	-webkit-transition: all 0.8s; /*时长为2s的宽度变化效果*/
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	transition: all 0.8s;
}
.shufty_open img:hover{
	-webkit-transform: scale(1.5, 1.5);
	-moz-transform: scale(1.5, 1.5);
	-ms-transform: scale(1.5, 1.5);
	-o-transform: scale(1.5, 1.5);
	transform: scale(1.5, 1.5);
	-webkit-transition: all 1s; /*时长为2s的宽度变化效果*/
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
	transition-property: all;
	transition-duration: 1s;
	transition-timing-function: initial;
	transition-delay: initial;
}
.expo_brief_page{
	background:#e6e6e6;
}
.expo_brief_item{
	font-size:34px;
	color:#1c4ec4;
	font-weight:bold;
	line-height:72px;
	padding:30px 0 50px 406px;
	font-family:"宋体";
	text-shadow: 1px 1px 1px #808080;
}
.expo_brief_map{
	padding:60px 40px;
}
.expo_brief_area{
	padding:10px 0 25px 130px;
}
.expo_brief_area_item{
	padding:12px 0 12px 40px;
}
.expo_brief_area_item h5{
	color:#1c4ec4;
	font-size:24px;
	line-height:44px;
}
.expo_brief_area_item h5 span{
	display: inline-block;
    margin-left: -40px;
    width: 40px;
	font-size:40px;
	vertical-align: middle;
}
.expo_brief_area_item p{
	color:#000;
	font-size:20px;
	line-height:40px;
}
.expo_brief_city{
	padding:5px 130px 0;
	color:#4d4d4d;
	font-size:24px;
	line-height:60px;
}
.expo_brief_city p strong,.expo_brief_city p b{
	color:#333;
}
.expo_brief_city p{
	text-indent:2em;
	margin-top:40px;
	text-align: justify;
}
.expo_brief_info{
	color:#1c4ec4;
	font-size:28px;
	line-height:54px;
	padding-left:280px;
	font-weight:bold;
	padding-bottom:57px;
}
.expo_brief_title{
	background:url(../img/191211_bg01.jpg) no-repeat;
	height:79px;
	background-size:cover;
	padding-left:85px;
	color:#fff;
	font-size:48px;
	line-height:79px;
	font-family:"宋体";
	font-weight:bold;
	text-shadow: black 0.1em 0.1em 0.2em
}
.expo_brief_list{
	background:url(../img/191211_bg01.jpg) no-repeat 0 100%;
	padding:15px 0 95px 130px;
}
.expo_brief_list li{
	float:left;
	margin-right:78px;
	margin-bottom:30px;
	text-align:right;
}
.expo_brief_list li img{
	margin-bottom:10px;
}
.expo_brief_list li p{
	line-height:30px;
	font-size:20px;
	color:#1c4ec4;
}
.expo_brief_list li img{
	box-shadow:0 4px 8px #000;
}